<h1>構成文章一覧</h1>

<p><%= notice %></p>


<table>
  <tr>
    <td>
      <table>
        <tr>
          <th>構成文章(頭)</th>
          <th>アクション</th>
        </tr>
        <tr><td =colspan=2><%= link_to '投稿', new_sentence1_path, class: 'btn btn-primary' %></td></tr>
        <% @sentence1.each do |sentence1| %>
        <tr>
          <td><%= sentence1.id %> <%= sentence1.sentence_top %></td>
          <td><%= link_to "編集", edit_sentence1_path(sentence1.id) %>　<%= link_to '削除', sentence1_path(sentence1.id), method: :delete ,data: { confirm: '削除しますか？' } %></td>
        </tr>
        <% end %>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <th>構成文章(真ん中)</th>
          <th>アクション</th>
        <tr><td =colspan=2><%= link_to '投稿', new_sentence2_path, class: 'btn btn-primary' %></td></tr>
        </tr>
        <% @sentence2.each do |sentence2| %>
        <tr>
          <td><%= sentence2.id %> <%= sentence2.sentence_center %></td>
          <td><%= link_to "編集", edit_sentence2_path(sentence2.id) %>　<%= link_to '削除', sentence2_path(sentence2.id), method: :delete ,data: { confirm: '削除しますか？' } %></td>
        </tr>
        <% end %>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <th>構成文章(締め)</th>
          <th>アクション</th>
        </tr>
        <tr><td =colspan=2><%= link_to '投稿', new_sentence3_path, class: 'btn btn-primary' %></td></tr>
        <% @sentence3.each do |sentence3| %>
        <tr>
          <td><%= sentence3.id %> <%= sentence3.sentence_last %></td>
          <td><%= link_to "編集", edit_sentence3_path(sentence3.id) %>　<%= link_to '削除', sentence3_path(sentence3.id), method: :delete ,data: { confirm: '削除しますか？' } %></td>
        </tr>
        <% end %>
      </table>
    </td>
  </tr>
</table>

