<div class="main clearfix">
  <article class="content">
    <section>
      <h1>構成文章一覧</h1>

      <p><%= notice %></p>

      <p>『構成文章』とは、その名の通り標語を構成する文章です。<br><br>
      『標語自動生成』は、俳句の五七五の様に<br>
      『構成文章(頭)　＋　構成文章(真ん中)　＋　構成文章(締め)』の組み合わせで標語を生成します。</p>
      <br>
      <p>ここでは、これらの構成文章の登録や確認が可能です。</p>
      <p>※登録・編集・削除は、ログインが必須です。</p>
      <br><br>

      <table style=border:0;>
        <tr>
          <td style=border:0;vertical-align:top;>
            <table>
              <tr>
                <th>構成文章(頭)</th>
                <th>アクション</th>
              </tr>
              <tr>
                <td colspan=2>
                  <% if logged_in? %>
                    <%= link_to '登録', new_sentence1_path, class: 'btn btn-primary' %>
                  <% else %>
                    ログイン専用機能です
                  <% end %>
                </td>
              </tr>

              <% @sentence1.each do |sentence1| %>
              <tr>
                <td><%= sentence1.sentence_top %></td>
                <td>
                  <% if logged_in? %>
                    <%= link_to "編集", edit_sentence1_path(sentence1.id) %>　<%= link_to '削除', sentence1_path(sentence1.id), method: :delete ,data: { confirm: '削除しますか？' } %>
                  <% else %>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </table>
          </td>

          <td style=border:0;vertical-align:top;>
            <table>
              <tr>
                <th>構成文章(真ん中)</th>
                <th>アクション</th>
              </tr>
              <tr>
                <td colspan=2>
                  <% if logged_in? %>
                    <%= link_to '登録', new_sentence2_path, class: 'btn btn-primary' %>
                  <% else %>
                    ログイン専用機能です
                  <% end %>
                </td>
              </tr>

              <% @sentence2.each do |sentence2| %>
              <tr>
                <td><%= sentence2.sentence_center %></td>
                <td>
                  <% if logged_in? %>
                    <%= link_to "編集", edit_sentence2_path(sentence2.id) %>　<%= link_to '削除', sentence2_path(sentence2.id), method: :delete ,data: { confirm: '削除しますか？' } %>
                  <% else %>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </table>
          </td>

          <td style=border:0;vertical-align:top;>
            <table>
              <tr>
                <th>構成文章(締め)</th>
                <th>アクション</th>
              </tr>
              <tr>
                <td colspan=2>
                  <% if logged_in? %>
                    <%= link_to '登録', new_sentence3_path, class: 'btn btn-primary' %>
                  <% else %>
                    ログイン専用機能です
                  <% end %>
                </td>
              </tr>

              <% @sentence3.each do |sentence3| %>
              <tr>
                <td><%= sentence3.sentence_last %></td>
                <td>
                  <% if logged_in? %>
                    <%= link_to "編集", edit_sentence3_path(sentence3.id) %>　<%= link_to '削除', sentence3_path(sentence3.id), method: :delete ,data: { confirm: '削除しますか？' } %>
                  <% else %>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </table>
          </td>
        </tr>
      </table>

</section>
</article>
</div>