<h1>構成文章(真ん中)</h1>

<p><%= notice %></p>

<table>
  <tr>
    <th>構成文章(真ん中)</th>
    <th>アクション</th>
  </tr>

<% @sentence2.each do |sentence2| %>
  <tr>
    <td><%= sentence2.id %> <%= sentence2.sentence_center %></td>
    <td><%= link_to '詳細確認', sentence2_path(sentence2.id) %>　<%= link_to "編集", edit_sentence2_path(sentence2.id) %>　<%= link_to '削除', sentence2_path(sentence2.id), method: :delete ,data: { confirm: '削除しますか？' } %></td>
  </tr>
<% end %>
</table>