<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h1><%= @user.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <tr>
    <td><%= form.label :name %>  </td>
    <td><%= form.text_field :name %></td>    
  </tr>
  <tr>
    <td><%= form.label :email %>  </td>
    <td><%= form.text_field :email %></td>    
  </tr>
  <tr>
    <td><%= form.label :password %>  </td>
    <td><%= form.text_field :password %></td>    
  </tr>
  <tr>
    <td><%= form.label :password_confirmation %>  </td>
    <td><%= form.text_field :password_confirmation %></td>    
  </tr>
  <tr>
    <td><%= form.label :image %>  </td>
    <td><%= image_tag(@user.image.url) if @user.image.url %>
    <%= form.file_field :image, id: :user_image %></td>    
  </tr>
</table>

<p>※標語一覧の画像は、最大で150×150サイズに調整されます。</p>

<br><br>
<%= form.submit %>
<% end %>

            </section>
        </article>
    </div>