        <%= form_with(model: @slogan, local: true ) do |form| %>
          <% if @slogan.errors.any? %>
            <div id="error_explanation">
            <h2><%= @slogan.errors.count %>件の投入不足が有ります。</h2>
            <ul>
              <% @slogan.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

          <% @rand_top.each do |sentence1| %>
          <% @rand_center.each do |sentence2| %>
          <% @rand_last.each do |sentence3| %>

          <p class="basic"><%= sentence1.sentence_top %>　<%= sentence2.sentence_center %>　<%= sentence3.sentence_last %></p>
          <%= form.hidden_field :slogan_text, :size=>"60", value: sentence1.sentence_top + "　" + sentence2.sentence_center + "　" + sentence3.sentence_last, readonly: true %>

          <% end %>
          <% end %>
          <% end %>

          <% if logged_in? %>
            <%= form.submit "登録",data: { confirm: '自動生成の為、このまま登録されます' } %>
          <% else %>
            <p>※登録を希望する場合はログインが必要です</p>
          <% end %>
          <% end %>


        </section>
    </article>
</div>