<h3>以下の内容で、送信する。</h3>

<%= form_with(model: @slogan, url: slogans_path, local: true) do |form| %>
  <%= form.hidden_field :slogan_text %>

  <p><%= @slogan.slogan_text %></p>
  <%= form.submit  "登録する" %>
<% end %>

<%= form_with(model: @slogan, url: new_slogan_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :slogan_text %>
  <%= form.submit "もどる",name: 'back' %>
<% end %>
