<!DOCTYPE html>
<html>
  <head>
    <title>標語自動生成</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header class="header clearfix">
        <%= image_tag('image_top.png') %>
      </header>

      <nav class="navi clearfix">
        <ul>
            <li><%= link_to 'TOPページ', root_path %></li>
            <li><%= link_to '標語生成', new_slogan_path %></li>
            <li><%= link_to '標語一覧', slogans_path %></li>
            <li><%= link_to '構成文章', sentence1s_path %></li>
              <% if logged_in? %>
                <li><%= link_to "マイページ", user_path(current_user.id) %></li>
                <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
              <% else %>
                <li><%= link_to 'サインアップ', new_user_path %></li>
                <li><%= link_to 'ログイン', new_session_path %></li>
              <% end %>
        </ul>
      </nav>

        <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>

      <%= yield %>

      <footer class="footer">
        <p>Copyright c 2018 千田 玄 for fullstack NTTコムチェオ1月期</p>
      </footer>
    </div>
  </body>
</html>