<!DOCTYPE html>
<html>
  <head>
    <title>AutoSlogan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<%= link_to 'TOP画面', root_path %><br>
<%= link_to '構成文章', sentence1s_path %><br>
<%= link_to '標語一覧', slogans_path %>　<%= link_to '標語投稿', new_slogan_path %><br>
<%= link_to 'ユーザー一覧', users_path %><br>
<br>

    <% if logged_in? %>
      <%= link_to "Profile", user_path(current_user.id) %>
      <%= link_to "Logout", session_path(current_user.id), method: :delete %>
    <% else %>
      <%= link_to "Sign up", new_user_path %>
      <%= link_to "Login", new_session_path %>
    <% end %>




    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

    <%= yield %>
  </body>
</html>
